.card
  .card-body
    = link_to fa_icon('list', text: 'チェックリストを開く'), ENV['CHECKLIST_URL'], target: '_blank'
    %form{ action: ENV['GOOGLE_FORM_ACTION'] }
      %div
        %label{:for => "year"} 日付
        %input#email{:name => "entry.2083007388", :placeholder => "", :type => "date"}/
      %div
        %label{:for => "hour"} 時刻
        %input#email{name: "entry.1553332316", type: 'time', value: Time.current.strftime('%H:%M') }/
      %label{:for => "content"} 内容
      %div
        %input.cutom-control-input{ name: 'entry.1694639330', type: 'radio', value: '筋肉体操1' } 筋肉体操1
      %div
        %input.cutom-control-input{ name: 'entry.1694639330', type: 'radio', value: '筋肉体操2' } 筋肉体操2
      %div
        %input.cutom-control-input{ name: 'entry.1694639330', type: 'radio', value: '筋肉体操3' } 筋肉体操3
      %div
        %input.cutom-control-input{ name: 'entry.1694639330', type: 'radio', value: 'その他' } その他
      %div
        %label{:for => "memo"} メモ
        %textarea#msg{:name => "entry.537258214", :placeholder => ""}
      %button.btn.btn-primary{:name => "button", :type => "submit", :value => "送信"} 登録
