%form{ action: ENV['GOOGLE_FORM_ACTION'] }
  %div
    %label{:for => "year"} 日付
    %input#email{:name => "entry.2083007388", :placeholder => "", :type => "text"}/
  %div
    %label{:for => "hour"} 時刻
    %input#email{:name => "entry.1553332316", :placeholder => "", :type => "text"}/
  %div
    %label{:for => "content"} 内容
    %input#email{:name => "entry.883692591", :placeholder => "", :type => "text"}/
    %label{:for => "memo"} メモ
    %textarea#msg{:name => "entry.537258214", :placeholder => ""}
  %button{:name => "button", :type => "submit", :value => "送信"}
