%form{ action: ENV['GOOGLE_FORM_ACTION'] }
  %div
    %label{:for => "year"} 年
    %input#email{:name => "entry.1166821317_year", :placeholder => "", :type => "text"}/
    %label{:for => "month"} 月
    %input#email{:name => "entry.1166821317_month", :placeholder => "", :type => "text"}/
    %label{:for => "day"} 日
    %input#email{:name => "entry.1166821317_day", :placeholder => "", :type => "text"}/
  %div
    %label{:for => "hour"} 時
    %input#email{:name => "entry.790661130_hour", :placeholder => "", :type => "text"}/
    %label{:for => "minute"} 分
    %input#email{:name => "entry.790661130_minute", :placeholder => "", :type => "text"}/
  %div
    %label{:for => "content"} 内容
    %input#email{:name => "entry.883692591", :placeholder => "", :type => "text"}/
    %label{:for => "memo"} メモ
    %textarea#msg{:name => "entry.537258214", :placeholder => ""}
  %button{:name => "button", :type => "submit", :value => "送信"}
