- breadcrumb :routine_histories, @routine
.card
  .card-header
    一覧
  .card-body
    %ul.list-group
      - @histories.each do |history|
        %li.list-group-item
          #{history.done_at} #{history.menu} #{history.memo}
          = link_to fa_icon('trash'), routine_history_path(@routine, history), method: :delete, data: { confirm: '本当に削除しますか？' }
